<div *ngIf="!loader" class="food-list">
    <div *ngFor="let food of foods" class="food-item-con">
        <div class="food-image-con">
            <img class="food-image" [src]="food.src" />
        </div>
        <div class="food-details">
            <div class="food-name">
                <span>{{food.pName}}</span>
            </div>
            <button class="food-price" (click)='addToCart(food)'>
                <span class="order-now"> Order Now </span>
                <span class="price">{{food.price}}/-</span>
            </button>
            <div>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': food.ratPerc}">
                        <span class="sr-only">Rating {{food.rating}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>