<h1>Register Here</h1>
<div class="col-md-3"></div>
<div class="t-l login-form col-md-5">
  <div id="message" style="color: green; min-height: 30px; padding: 8px 16px;">{{message}}</div>
  <form action="javascript:void(0);" #registerForm="ngForm" (ngSubmit)="register()" ngNativeValidate>
    <div class="form-group">
      <label for="input" class="col-sm-2 control-label">Name:</label>
      <div class="col-sm-10">
        <input type="text" ngModel="" name="name" id="name" class="form-control" required="required" title="">
      </div>
    </div>
    <div class="form-group">
      <label for="input" class="col-sm-2 control-label">Email:</label>
      <div class="col-sm-10">
        <input type="email" ngModel="" name="email" id="email" class="form-control" required="required" title="">
      </div>
    </div>
    <div class="form-group">
      <label for="gender" class="col-sm-2 control-label">Gender:</label>
      <div class="col-sm-10">
        <select ngModel="" name="gender" id="gender" class="form-control" required="required">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="input" class="col-sm-2 control-label">Address:</label>
      <div class="col-sm-10">
        <input type="text" ngModel="" name="address" id="address" class="form-control" required="required" title="">
      </div>
    </div>
    <div class="form-group">
      <label for="input" class="col-sm-2 control-label">City:</label>
      <div class="col-sm-10">
        <input type="text" ngModel="" name="city" id="city" class="form-control" required="required" title="">
      </div>
    </div>
    <div class="form-group">
      <label for="type" class="col-sm-6 control-label">User Type:</label>
      <div class="col-sm-10">
        <select ngModel="Customer" name="type" id="type" class="form-control" required="required">
          <option selected value="Customer">Customer</option>
          <option value="Owner">Owner</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="input" class="col-sm-2 control-label">Password:</label>
      <div class="col-sm-10">
        <input type="password" ngModel="" name="password" id="password" class="form-control" required="required"
          title="">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" id="submit" class="btn btn-primary">Register</button>
        <button type="button" id="reset" onclick="resetForm()" class="btn btn-warning"> Reset</button>
      </div>
    </div>
  </form>
</div>