<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand back-drop" routerLink="home">Home Foods</a>
    <ul class="nav navbar-nav">
        <li *ngIf="isUserLoggedIn && !isDeliveryPerson" class="back-drop">
            <a routerLink="products/maharashtra">Marathi</a>
        </li>
        <li *ngIf="isUserLoggedIn && !isDeliveryPerson" class="back-drop">
            <a routerLink="products/punjabi">Punjabi</a>
        </li>
        <li *ngIf="isUserLoggedIn && !isDeliveryPerson" class="back-drop">
            <a routerLink="products/south">South</a>
        </li>
        <li *ngIf="isUserLoggedIn && !isDeliveryPerson" class="back-drop">
            <a routerLink="products/north">North Indian</a>
        </li>
        <li *ngIf="isUserLoggedIn && !isDeliveryPerson" class="back-drop">
            <a routerLink="products/sindhi">Sindhi</a>
        </li>
        <li *ngIf="isUserLoggedIn && isDeliveryPerson" class="back-drop">
            <a routerLink="my-deliveries">My Deliveries</a>
        </li>
    </ul>
    <ul class="nav navbar-nav" style="margin-right: 0%; float: right;">
        <li class="back-drop"><a routerLink="contact-us">Contact Us</a></li>
        <li class="back-drop"><a routerLink="about-us">About Us</a></li>
        <li class="back-drop" *ngIf="!isUserLoggedIn" id="registerele"><a routerLink="register">Register Here</a></li>
        <li class="back-drop" *ngIf="isUserLoggedIn && !isDeliveryPerson && !isOwner" id="ordersele"><a
                routerLink="my-orders">All Orders</a>
        </li>
        <li class="back-drop" *ngIf="isUserLoggedIn && !isDeliveryPerson && !isOwner" id="ordersele"><a
                routerLink="orders">Cart</a>
        </li>
        <li class="back-drop" *ngIf="isUserLoggedIn && isOwner" id="allOrders"><a
                routerLink="owner-orders">Dashboard</a></li>
        <li class="back-drop login-btn" *ngIf="!isUserLoggedIn" id='loginele'><a routerLink="login">Log In</a>
        </li>
        <li class="back-drop login-btn logout" *ngIf="isUserLoggedIn" id='logoutele' (click)="logout()">Log Out</li>
    </ul>
</nav>