<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand back-drop" routerLink="index.html">Home Foods</a>
    <ul class="nav navbar-nav">
        <li class="back-drop">
            <a routerLink="products/maharashtra">Marathi</a>
        </li>
        <li class="back-drop">
            <a routerLink="products/punjabi">Punjabi</a>
        </li>
        <li class="back-drop">
            <a routerLink="products/south">South</a>
        </li>
        <li class="back-drop">
            <a routerLink="products/north">North Indian</a>
        </li>
        <li class="back-drop">
            <a routerLink="products/sindhi">Sindhi</a>
        </li>
    </ul>
    <ul class="nav navbar-nav" style="margin-right: 0%; float: right;">
        <li class="back-drop"><a routerLink="contact-us">Contact Us</a></li>
        <li class="back-drop"><a routerLink="about-us">About Us</a></li>
        <li class="back-drop" id="registerele"><a routerLink="register">Register Here</a></li>
        <li class="back-drop" id="ordersele"><a routerLink="orders">Orders</a></li>
        <li class="back-drop" id="allOrders"><a routerLink="owner-orders">All Orders</a></li>
        <li class="back-drop" id='loginele' class="login-btn"><a routerLink="login">Log In</a></li>
        <li class="back-drop login-btn logout" id='logoutele' onclick="logout()">Log Out</li>
    </ul>
</nav>

<!-- <script>
        if (isUserLoggedIn()) {
            hideElement('registerele');
            hideElement('loginele');
            showElement('ordersele');
            showElement('logoutele');
        } else {
            showElement('registerele');
            showElement('loginele');
            hideElement('ordersele');
            hideElement('logoutele');
        }
        if (isUserOwner()) {
            hideElement('ordersele');
            showElement('allOrders');
        } else {
            showElement('ordersele');
            hideElement('allOrders');
        }
    </script> -->