<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand back-drop" href="index.html">Home Foods</a>
    <ul class="nav navbar-nav">
        <li class="back-drop">
            <a href="marathi.html">Marathi</a>
        </li>
        <li class="back-drop">
            <a href="punjabi.html">Punjabi</a>
        </li>
        <li class="back-drop">
            <a href="south.html">South</a>
        </li>
        <li class="back-drop">
            <a href="north.html">North Indian</a>
        </li>
        <li class="back-drop">
            <a href="sindhi.html">Sindhi</a>
        </li>
    </ul>
    <ul class="nav navbar-nav" style="margin-right: 0%; float: right;">
        <li class="back-drop"><a href="contact.html">Contact Us</a></li>
        <li class="back-drop"><a href="about.html">About Us</a></li>
        <li class="back-drop" id="registerele"><a href="register.html">Register Here</a></li>
        <li class="back-drop" id="ordersele"><a href="orders.html">Orders</a></li>
        <li class="back-drop" id="allOrders"><a href="owner-orders.html">All Orders</a></li>
        <li class="back-drop" id='loginele' class="login-btn"><a href="login.html">Log In</a></li>
        <li class="back-drop login-btn logout" id='logoutele' onclick="logout()">Log Out</li>
    </ul>
</nav>

<!-- <script>
        if (isUserLoggedIn()) {
            hideElement('registerele');
            hideElement('loginele');
            showElement('ordersele');
            showElement('logoutele');
        } else {
            showElement('registerele');
            showElement('loginele');
            hideElement('ordersele');
            hideElement('logoutele');
        }
        if (isUserOwner()) {
            hideElement('ordersele');
            showElement('allOrders');
        } else {
            showElement('ordersele');
            hideElement('allOrders');
        }
    </script> -->