<div class="hope">
    <h1>Your Order</h1>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="t-l">
                <span id="loadOrdersHere"></span>
            </div>
        </div>
    </div>
    <h5>
        Please pay Rs. <span id='total'></span> to our delivery representative.
    </h5>
    <a href="index.html" class="button">
        <h2 onclick="clearOrders()">Click Here To Eat More! </h2>
    </a>
    <br>
    <br>
    <br>
    <h6> Can you please give us your valuable Feedback </h6>
    <a href="feedback.html" class="button text-warning">
        <h1>Feedback</h1>
    </a>
    <h1>
        Thanks For Buying Our Food. <br>
        <marquee WIDTH=600 BEHAVIOR=ALTERNATE>
            We Hope To See You Again!!
        </marquee>
    </h1>
</div>