<div class="h1">
    <h1>
        <marquee WIDTH=400 HEIGHT=50 BEHAVIOR=ALTERNATE>NEW ARRIVALS!! </marquee>
    </h1>
    <form action="marathi.html">
        <input class="ro-b" id="topimgmh1" type="image" width="500px" height="450px" [src]="imgLinks.topimgmh1"
            alt="Submit">
        <input class="ro-b" id="topimgmh2" type="image" width="500px" height="450px" [src]="imgLinks.topimgmh2"
            alt="Submit">
    </form>
    <div class="h2">
        <form action="marathi.html">
            <input class="ro-b" type="image" width="500px" height="500px"
                src="../assets/image/maharashtra/thalipeeth.jpg" alt="Submit" title="Eat marathi food!">
            <input class="ro-b" type="image" width="500px" height="500px"
                src="../assets/image/maharashtra/pav-bhaji.jpg" alt="Submit" title="Eat marathi food!">
            <input class="ro-b" type="image" width="600px" height="500px"
                src="../assets/image/maharashtra/sabudana-khichdi.jpg" alt="Submit" title="Eat marathi food!">
        </form>
    </div>
    <div class="h2">
        <form action="south.html">
            <input class="ro-b" type="image" width="500px" height="500px" src="../assets/image/south/akki-roti.jpg"
                alt="Submit" title="Eat south food!">
            <input class="ro-b" type="image" width="500px" height="500px" src="../assets/image/south/dosa.jpeg"
                alt="Submit" title="Eat south food!">
            <input class="ro-b" id="topimgst2" type="image" width="500px" height="500px"
                [src]="imgLinks.topimgst2" alt="Submit" title="Eat south food!">
        </form>
    </div>
</div>
<div class="h3">
    Punjabi Food
    <form action="punjabi.html">
        <input class="ro-b" id="topimgpu3" width="1000px" type="image"
            [src]="imgLinks.topimgpu3" alt="Submit" title="Eat punjabi food!">
        <input class="ro-b" width="1000px" type="image" src="../assets/image/punjabi/bharwa-bhindi.jpg" alt="Submit"
            title="Eat punjabi food!">
        <input class="ro-b" width="500px" height="450px" type="image" src="../assets/image/punjabi/dal-makhni.webp "
            alt="Submit" title="Eat punjabi food!">
        <input class="ro-b" width="500px" height="450px" type="image" src="../assets/image/punjabi/paneer-tikka.webp "
            alt="Submit" title="Eat punjabi food!">
    </form>
</div>
<div class="h4">
    <h4>
        <marquee WIDTH=1000 BEHAVIOR=ALTERNATE>
            <span style="color: #ff9900;">Tambda</span>
            <span style="color: #f3e3b0;">Pandhara</span>
            <span style="color: cadetblue;">Rassa</span>
        </marquee>
    </h4>
</div>
<form action="marathi.html">
    <input class="ro-b" type="image" class="w-99" src="../assets/image/thecha.png" alt="Submit"
        title="Eat marathi food!" />
</form>