<div *ngIf="userOrder?.length && !isOrderComplete" style="float: right;">
    <button type="button" (click)="checkOut()" class="btn btn-success mr-8">Check Out</button>
    <button type="button" (click)="clearOrders()" class="btn btn-danger">Clear Cart</button>
</div>

<div class="row">
    <div style="width: 33%;"></div>
    <div class="col-md-4">
        <div class="t-l">
            <h2 style="text-align: center;">Your Order</h2>
            <div *ngFor="let order of userOrder" class="order-item-con">
                <div class="order-image-con">
                    <img class="order-image" [src]="order.src" />
                </div>
                <div class="order-details">
                    <div class="order-name">
                        <span>{{order.pName}}</span>
                    </div>
                    <div class="order-price">
                        <span class="price">Price- {{order.price}}/-</span>
                    </div>
                    <div class="order-price">
                        <span class="price">Quantity- {{order.count}}</span>
                    </div>
                    <div class="order-price">
                        <span class="price">Total Price- {{order.totalPrice}}/-</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="isOrderComplete">
    <h5>
        Please pay Rs. <span id='total'>{{totalPrice}}</span> to our delivery representative.
    </h5>
    <a routerLink="/home" (click)="clearOrders()" class="button">
        <h2>Click Here To Eat More! </h2>
    </a>
    <br>
    <br>
    <br>
    <h6> Can you please give us your valuable Feedback </h6>
    <a routerLink="/feedback" (click)="clearOrders()" class="button text-warning">
        <h1>Feedback</h1>
    </a>
    <h1>
        Thanks For Buying Our Food. <br>
        <marquee WIDTH=600 BEHAVIOR=ALTERNATE>
            We Hope To See You Again!!
        </marquee>
    </h1>
</ng-container>